body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.dashboard-content {
  transition: opacity 0.3s ease-in-out;
}

.dashboard-content.fade-in {
  opacity: 1;
}

.ant-table-container {
  overflow: auto;
}

.ant-table-pagination.ant-pagination {
  margin: 16px !important;
}
