@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.dashboard-content {
  /* background: url("/background.jpg") no-repeat center center fixed; */
  background-color:blanchedalmond;
  background-size: cover;
  padding: 20px;
  height: calc(100vh - 64px - 70px);
  overflow-y: auto;
}
